# Diretórios gigantes — NUNCA adicionar ao Git
out/
dist/
ccache/
.cache/
tmp/
userdata/
metadata/

# Imagens
*.img
*.bin
*.zip
*.cpio
*.elf
*.tar
*.tar.gz

# Artefatos
*.o
*.a
*.so
*.dex
*.class
*.tag
*.apk
*.jar

# Logs
*.log

# Sistemas
.DS_Store
.idea/
.vscode/
*~
